[Unit]
Description=AirPlay Unix mirroring server

[Service]
Type=simple
ExecStart=uxplay
Restart=on-failure
#StandardOutput=file:%h/uxplay.log

[Install]
WantedBy=default.target
